section div{
    height: 450px;
    width: 300px;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
section div:first-child{
    background-color: hsl(31, 77%, 52%);
    border-radius: 15px 0 0 15px;
}
section div:nth-child(2){ 
    background-color: hsl(184, 100%, 22%);
}
section div:last-child{
    background-color: hsl(197, 100%, 17%);
    border-radius: 0 15px 15px 0;
}
img{
    margin-top: 70px;
    margin-left: 50px;
}
.btn-1{
    border-radius: 20px;
    height: 32px;
    margin-left: 50px;
    margin-top: 50px;
    width: 120px;
    border: none;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 hsl(31, 77%, 52%);
    cursor: pointer;
}

.btn-2{
    border-radius: 20px;
    height: 32px;
    margin-left: 50px;
    margin-top: 50px;
    width: 120px;
    border: none;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 hsl(184, 100%, 22%);
    cursor: pointer;
}
.btn-3{
    border-radius: 20px;
    height: 32px;
    margin-left: 50px;
    margin-top: 50px;
    width: 120px;
    border: none;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 hsl(197, 100%, 17%);
    cursor: pointer;
}
h1{
    margin-left: 50px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing: 2px;
}
p{
    margin-left: 50px;
    margin-right: 15px;
    color: hsl(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}